body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    min-height: 100vh;
    background-image: url(../img/imagenes/fondo4.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    
}
header{
    position: sticky;
    top: 60px;
}
a{
    text-decoration: none;
    color:rgb(126, 15, 98)

}
a:hover{
    text-decoration: none;
    color:rgb(250, 247, 249)

}

h1{
    margin-top: 0;
    margin: 40px;
    text-align: center;
    margin: 60px;
    padding: 10px;
    color: rgb(231, 219, 231);
    font-weight: 900;    
    font-size: 30px;
    border-top: 2px;
    box-shadow: 2px 2px 1cap white;
    border-radius:12px ;
    text-align: right;
    padding-right: 50px;
}

h2{
    
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: rgb(231, 219, 231);
    font-weight: 900;    
} 
ul{
    list-style: none;
}

div.contenedor{
    background-color:rgba(236, 234, 230, 0.164);
    padding: 4%;
    border-radius: 12px;
    
}

div.caja{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 40px;
    display: inline-block;
}
ul.lista{
    font-size: 30px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    margin:0 auto;
    text-align: center;
    display: inline;
}

ul.menu{
    color: rgb(240, 248, 255);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    padding: 10px;
    padding-top: 7px;
    
}
ul.menu > li{
    background-color: white;
    margin-left: 5px;
    border: 2px solid rgb(250, 173, 186);
    padding: 5px;
    border-radius: 12px;
    
               
}

ul.menu > li:hover{
    background-color: rgba(208, 117, 238);
    margin-left: 1px;
    border: 2px solid rgb(250, 173, 186);
    padding: 5px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px purple;
    
}

[class~=”menu”]{
    padding: 10px;
    border: 1px solid violet;
}
nav{
    position: fixed;
    top: 1px;
    width: 90%;
    margin-left: 35px;
    margin: 50px;
}
section.contenedor-proyectos{
    
    color: aliceblue;
    background-color:rgba(236, 234, 230, 0.164);
    padding: 4%;
    border-radius: 12px;
    margin: 80px;
    
    
    
}
.proyecto{
   padding: 20px;    
}
.proyectos{
    display: flex;
}
.seccion-contacto{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: rgb(248, 235, 235);	
	padding:5px;
	width: 300px;
	height: 100x;
	justify-items: center;
	align-items: center;	
	justify-content: center;
	align-content: center;
    margin-left:660px;
    background-color:rgba(236, 234, 230, 0.164);
    padding: 20px;
    border-radius: 12px;
}

  

footer{
    color: white;
}
